
.sec-login
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modallog
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.generallogin
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #00000021;
}
.modal-license
{
    background-color: #00000021;
}
.titule
{
    display: none;
}
.inputuser
{
    text-align: center;
    border: none;
    border-radius: 15px;
}
.inputuser:hover
{
    border-radius: 15px;
    box-shadow: inset 0px 0px 1px 3px #f7f7f7;
    background-color: white;
    color: black;
}
.inputuser:focus
{
    border-radius: 15px;
    color: black;
    background-color: white;

}
.row-information
{
    height: auto;
}

.sec-licenses
{
    padding: 0px;
}
.div-lis
{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal-lis
{
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    background-color: #0000003d;
}
.row-log
{
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 250px;
    height: 150px;
    margin: 0;
}
.center-img, .img-lis
{
    width: auto;
}
.group-lis
{
    margin: 0;
}
.right-logo
{
    height: 10em;
}
.publicidad-top
{
    width: 100%;
    height: 150px;
}
.horizontal-slide
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.publicidad
{
    width: 25%;
    height: 50%;
}




