
.sec-login
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.modallog
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.generallogin
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #00000021;
}
.modal-license
{
    background-color: #00000021;
}
.titule
{
    display: none;
}
.inputuser
{
    text-align: center;
    border: none;
    border-radius: 15px;
}
.inputuser:hover
{
    border-radius: 15px;
    box-shadow: inset 0px 0px 1px 3px #f7f7f7;
    background-color: white;
    color: black;
}
.inputuser:focus
{
    border-radius: 15px;
    color: black;
    background-color: white;

}
.licenses
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-fluid
{
    width: 100vw;
    height: 100vh;
}
.logo-thumbnail
{
    width: 15vw;
}
.logo-thumbnail-rigth
{
    height: 10em;
}
/* .general
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */
.public
{
    width: 10%;

}
div.channelsfavorite
{
    display: flex;
}
#prueba
{
    display: flex;
}